[submodule "RDFBones-O"]
	path = RDFBones-O
	url = git@github.com:RDFBones/RDFBones-O.git
[submodule "Standards-Pathologies"]
	path = Standards-Pathologies
	url = git@github.com:RDFBones/Standards-Pathologies.git
[submodule "Standards-Dental1"]
	path = Standards-Dental1
	url = git@github.com:RDFBones/Standards-Dental1.git
[submodule "Phaleron-Pathologies"]
	path = Phaleron-Pathologies
	url = git@github.com:RDFBones/Phaleron-Pathologies.git
